@model Domain.DTO.SaleDTO

@{
    ViewData["Title"] = "Carrinho";
}

<h1>Carrinho</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Desconto
            </th>
            <th>
                Preço Unitário
            </th>
            <th>
                Preço Total do Produtor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Discont)%
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => i.Price)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => i.TotalPriceProduct)
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Valor Frete</strong>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <strong>R$@Model.Frete</strong>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                <strong>Valor Total da Venda</strong>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <strong>R$@Model.TotalValue</strong>
            </th>
            <th></th>
        </tr>
    </thead>
</table>
<form asp-controller="Products" asp-action="FinalizarCompra" method="post" style="float:left">
    <input type="hidden" name="frete" value="@Html.DisplayFor(model => model.Frete)" />
    <input type="hidden" name="TotalValue" value="@Html.DisplayFor(model => model.TotalValue)" />
    <button class="btn btn-primary" onclick="{ CompraFinalizada()}">Finalizar Comprar</button>
</form>
<br />
<br />
<br />